.conteiner-cartWidget {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  & img {
    height: 20px;
  }

  & .cartWidget-mostrar-cantidad {
    background-color: red;
    color: var(--color-text-primary);
    font-size: 10px;
    position: relative;
    top: -10px;
    right: 6px;
    padding: 1px 5px;
    border-radius: 50%;
  }
}
