.container-nav-full {
  background-color: rgba(78, 83, 144, 0.9);
  z-index: 99;
  position: fixed;
  width: -webkit-fill-available;
  opacity: 95%;
  margin-bottom: 20px;
}
.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  max-width: 1200px;
  margin: auto;
}

.container-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px 15px 0px 15px;

  & img {
    height: 50px;
    border-radius: 10px;
  }

  & p {
    display: ruby;
    margin-top: 10px;
    font-weight: 800;
  }
}

.container-logo:link,
:visited,
:active {
  color: var(--color-text-primary);
}

.container-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;

  & li {
    padding-inline: 5px;
  }

  & a {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
  }

  & a:hover {
    text-decoration: none;
    color: black;
  }

  & a:link,
  :visited,
  :active {
    color: var(--color-text-primary);
  }
}
