.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(254, 254, 254);
  border: 1px solid black;
  border-radius: 10px;
  color: var(--color-text-secondary);
  width: 200px;
  height: 300px;
  margin: auto;
  margin-bottom: 2.5rem;
}

.img {
  padding-top: 1.25rem;
  width: 50px;
  height: 90px;
}

.titulo {
  margin: 5px;
  font-weight: 800;
}

.precio {
  font-style: italic;
  font-weight: 600;
}

.desc {
  margin: 5px 2px 2px 10px;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  text-wrap: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.button-card {
  background-color: var(--color-background-secondary);
  border: none;
  padding: 5px;
  border-radius: 10px;
  color: black;
  margin-top: 10px;
}

.button-card:hover {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  cursor: pointer;
}
