.container-Novedades {
  background-color: var(--color-background-primary);
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-block: 10px;
  border-radius: 30px;
  gap: 20px;
}
